<% form_url = local_assigns.fetch(:url, recipes_path) %>
<% if local_assigns[:query] %>
  <%= "Search results for #{query.split(',').map(&:capitalize).join(', ')} (#{count})"%>
<% end %>

<div class="container">
  <%= form_with url: form_url, method: :get, local: true, class: "w-100 p-1 row gap-3 gap-lg-4 d-flex flex-column flex-lg-row align-items-center justify-content-center" do |f| %>
    <%= hw_combobox_tag :ingredient_names,
          SHARED_INGREDIENTS.map { |i| [i.capitalize, i] },
          multiple: true,
          multiselect_chip_src: chip_ingredients_path,
          free_text: true,
          value: local_assigns.fetch(:query, nil),
          input: {
            class: "form-control col-6",
            placeholder: "Enter what's left in your kitchen"
          } %>

    <%= f.submit "Find and cook", class: "btn btn-primary rounded-pill p-1 w-75 col-6 text-wrap" %>
  <% end %>
</div>
