.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 80vh;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  .banner {
    padding: 40px 0;
    height: auto;
    min-height: 80vh;
  }

  .banner .container {
    height: auto !important;
  }

  .banner form {
    height: auto !important;
    gap: 1rem !important;
  }

  .banner h1 {
    font-size: 22px;
  }

  .banner h2 {
    font-size: 16px;
  }
}
